.bin>div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.bin {
    padding: 1em;
    margin: 1em;
    min-height: 150px;
}

.staging {
    padding: 1em;
    margin: 1em;
    min-height: 150px;
    background-color: lightgray;
    max-width: 150px;
}

.obj {
    padding: 0em;
    margin: 0em;
}

.bin:first-child {
    background-color: red;
}

.bin:nth-child(2) {
    background-color: orange;
}

.bin:nth-child(3) {
    background-color: yellow;
}

.bin:nth-child(4) {
    background-color: Chartreuse;
}

.bin:nth-child(5) {
    background-color: cyan;
}

.bin:nth-child(6) {
    background-color: blue;
}

.bin:nth-child(7) {
    background-color: DarkOrchid;
}

.bin:nth-child(8) {
    background-color: DeepPink;
}

.bin:nth-child(9) {
    background-color: red;
}

.training-text {
    font-size: 1.25rem;
}